<div class="row about">
  <div class="col-md-12 col-lg-10 col-lg-offset-1 page-indent">
  <br>
  <br>
<h1>We guarantee our work will exceed your satisfaction</h1>
  <br>
  <div>
    You can rely on Garage Door Pros of pleasanton & The Surrounding Areas to provide the type of service you would expect from a locally owned garage door company. All of the work we do will be covered by our Customer Satisfaction Guarantee.
  </div>
<br>
  <div>  
    We have same day service for all of our customers, including emergency care 24/7, and 3 hrs at customer site from your first call. Before doing any work on your garage door, we will fully explaining what we'll do. When we've completed we will show you 
    what's been done.
  </div>
 <br> 
  <div>
    Our slogan is "If we do it.., do it Right"™ and we spend a lot of time for garage door repair and a training program for our technicians. We provide garage door services throughout Northern California, the Bay Area, San Leandro, pleasanton & San Francisco in helping our customers and provide same day service. at our large warehouse, we stock garage doors in all shapes and sizes, including swing, sliding, roll up and tilted up doors. Many sizes and colors are available. We do custom garage doors and we do entry gates as well. On our coupons page you will find exclusive 'online' offers for garage door service that includes sales, installation, repair and servicing.
  </div>
<br>
  <div>
    Need to get your garage door fixed ? Call us garage door pros for issues with a garage door that needs to be repair. We'll fix any kind of openers, sliding gates, overhead doors, commercial doors, residential doors, opener chain systems, springs repair, doors and much more.
  </div>

<br>
  <div>
     <h3 style="text-align: left;">The Benefits of Choosing Our Services</h3>
        <p>- Wide range of garage doors to choose from</p>
        <p> - Expert advice available</p>
        <p> - Exclusive extended warranty offered on all garage doors</p>
        <p> - Immediate delivery available on many Garage doors</p>
        <p> - Open 7 days a week</p>
        <p> - 24hr telephone operator answering service</p>
        <p> - Professional Job</p>
        <p> - 100% SATISFACTION</p>
        <p> - We do work on Sunday</p>
  </div>
   </div>
</div>
