  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <h2>Before and after</h2>
     <!--    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non imperdiet ante. Nam luctus nulla ac justo euismod bibendum. Maecenas vel libero dapibus, accumsan sem eu, viverra nisi. Nunc lectus justo, pulvinar vel libero ac, aliquam malesuada orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ut leo et arcu condimentum maximus. Nulla facilisi. </p> -->
      </div>
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="portfolio grid-2">
          <figure>
            <img src="https://s3-us-west-2.amazonaws.com/garagedoorprosca/bar-before.jpg" alt="" />
            <figcaption>
              <h2>Before</h2>
              <!-- <p>Dis-moi ce que tu manges, je te dirai ce que tu es</p> -->
              
            </figcaption>
          </figure>
          <figure>
            <img src="https://s3-us-west-2.amazonaws.com/garagedoorprosca/bar-after.jpg" alt="" />
            <figcaption>
              <h2>After</h2>
              <!-- <p>Dis-moi ce que tu manges, je te dirai ce que tu es</p> -->
              <!-- <a href="portfolio-item.html">View more</a> -->
            </figcaption>
          </figure>
          <figure>
            <img src="https://s3-us-west-2.amazonaws.com/garagedoorprosca/bar-before.jpg" alt="" />
            <figcaption>
              <h2>Before</h2>
              <!-- <p>Dis-moi ce que tu manges, je te dirai ce que tu es</p> -->
              <!-- <a href="portfolio-item.html">View more</a> -->
            </figcaption>
          </figure>
          <figure>
            <img src="https://s3-us-west-2.amazonaws.com/garagedoorprosca/bar-after.jpg" alt="" />
            <figcaption>
              <h2>After</h2>
              <!-- <p>Dis-moi ce que tu manges, je te dirai ce que tu es</p>
              <a href="portfolio-item.html">View more</a> -->
            </figcaption>
          </figure>
          <figure>
            <img src="https://s3-us-west-2.amazonaws.com/garagedoorprosca/bar-before.jpg" alt="" />
            <figcaption>
              <h2>Before</h2>
              <!-- <p>Dis-moi ce que tu manges, je te dirai ce que tu es</p>
              <a href="portfolio-item.html">View more</a> -->
            </figcaption>
          </figure>
          <figure>
            <img src="https://s3-us-west-2.amazonaws.com/garagedoorprosca/bar-after.jpg" alt="" />
            <figcaption>
              <h2>After</h2>
             <!--  <p>Dis-moi ce que tu manges, je te dirai ce que tu es</p>
              <a href="portfolio-item.html">View more</a> -->
            </figcaption>
          </figure>
          <figure>
            <img src="https://s3-us-west-2.amazonaws.com/garagedoorprosca/bar-before.jpg" alt="" />
            <figcaption>
              <h2>Before</h2>
     <!--          <p>Dis-moi ce que tu manges, je te dirai ce que tu es</p>
              <a href="portfolio-item.html">View more</a> -->
            </figcaption>
          </figure>
          <figure>
            <img src="https://s3-us-west-2.amazonaws.com/garagedoorprosca/bar-after.jpg" alt="" />
            <figcaption>
              <h2>After</h2>
             <!--  <p>Dis-moi ce que tu manges, je te dirai ce que tu es</p>
              <a href="portfolio-item.html">View more</a> -->
            </figcaption>
          </figure>
        </div>
      </div>
    </div>

  </div>
</html>
