<body class="home-page">
  <header>

  </header>
  <section>

    <div class="swiper-container">
      <div class="parallax-bg" style="background-image:url(https://s3-us-west-2.amazonaws.com/garagedoorprosca/1.jpg)" data-swiper-parallax="-15%"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-caption">
            <div class="title" data-swiper-parallax="-100" data-animation="fadeInDownBig">Garage Door Pros</div>
            <div class="subtitle" data-swiper-parallax="-200" data-animation="fadeIn">If you do it... do it Right .</div>
            <div class="text" data-swiper-parallax="-300" data-animation="fadeInUpBig">
              <a href="card.html" class="btn btn-custom btn-lg">read more</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-caption">
            <div class="title" data-swiper-parallax="-100" data-animation="fadeInDownBig">New Menu</div>
            <div class="subtitle" data-swiper-parallax="-200" data-animation="fadeIn">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            <div class="text" data-swiper-parallax="-300" data-animation="fadeInUpBig">
              <a href="card.html" class="btn btn-custom btn-lg">read more</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-caption">
            <div class="title" data-swiper-parallax="-100" data-animation="fadeInDownBig">Lorem ipsum dolor sit</div>
            <div class="subtitle" data-swiper-parallax="-200" data-animation="fadeIn">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
            <div class="text" data-swiper-parallax="-300" data-animation="fadeInUpBig">
              <a href="card.html" class="btn btn-custom btn-lg">read more</a>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination swiper-pagination-white"></div>
      <!-- Add Navigation -->
      <div class="swiper-button-prev swiper-button-white"></div>
      <div class="swiper-button-next swiper-button-white"></div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3">
          <h1>Our Chef</h1>
          <p class="text-center animated fadeInLeft">Proin at cursus mi. Donec euismod lectus vel lacus luctus sollicitudin. Duis pulvinar magna nunc, eget lobortis eros auctor id.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 section-content animatedParent animateOnce">
          <%= image_tag 'tach.jpg', class: "img-responsive  animated fadeIn" %>  
        </div>
        <div class="col-sm-12 col-md-6 section-content">
          <h3>Mauris quis eros tortor</h3>
          <p>Duis vel massa fringilla, suscipit risus sit amet, molestie eros. Proin at cursus mi. Donec euismod lectus vel lacus luctus sollicitudin. Sed sed purus sapien. <strong>Duis pulvinar magna nunc, eget lobortis eros auctor id.</strong> Praesent hendrerit enim eu commodo interdum.</p>
          <p><strong>Mauris quis eros tortor.</strong> Ut quis justo tellus. Duis vel massa fringilla, suscipit risus sit amet, molestie eros. Proin at cursus mi. </p>
          <p>&nbsp;</p>
          <button type="button" class="btn btn-primary btn-lg btn-block">More</button>
        </div>
      </div>
    </div>
  </section>

  <section class="menu">
    <div class="container-fluid">
      <div class="row cover" style="background-image:url(assets/garage2.jpg)"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-10 col-lg-offset-1 menu-card page-indent">
          <h2 class="decoration-stars">Our Prices</h2>
          <ul>
            <li>
              <div>
                <p class="name"><span>Springs And Cabels</span>
                </p>
                <p class="price">$39.99</p>
              </div>
              <p class="mute"></p>
            </li>
            <li>
              <div>
                <p class="name"><span>Garage Door Openers</span>
                </p>
                <p class="price">$45.99</p>
              </div>
              <p class="mute"></p>
            </li>
            <li>
              <div>
                <p class="name"><span>Gate Repaier</span>
                </p>
                <p class="price">$29.99</p>
              </div>
              <p class="mute"</p>
            </li>
            <li>
              <div>
                <p class="name"><span>Off Track Repairs</span>
                </p>
                <p class="price">$19.99</p>
              </div>
              <p class="mute"></p>
            </li>
            <li>
              <div>
                <p class="name"><span>Garage Door Openers</span>
                </p>
                <p class="price">$54.99</p>
              </div>
              <p class="mute"></p>
            </li>
            <li>
              <div>
                <p class="name"><span>Roller Maintnce</span>
                </p>
                <p class="price">$89.99</p>
              </div>
              <p class="mute"></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-pattern">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 section-content text-center">
          <h3 class="animateOnScroll" data-animation="fadeInUp">Make an Appoitment</h3>
          <p class="animateOnScroll" data-animation="fadeInUp" data-delay=".5s">All Of your garage dorr needs.</p>
          <p>&nbsp;</p>
          <button type="button" class="btn btn-primary">Contact Us</button>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h3>Recent works</h3>
      <div class="portfolio grid-4">
        <figure class="animateOnScroll" data-animation="fadeIn">
          <img src="assets/bar-after.jpg" alt="" class="image-cover" />
          <figcaption>
            <h2>Portfolio Item</h2>
            <p>Dis-moi ce que tu manges, je te dirai ce que tu es</p>
            <a href="portfolio-item.html">View more</a>
          </figcaption>
        </figure>
        <figure class="animateOnScroll" data-animation="fadeIn">
          <img src="assets/2.jpg" alt="" class="image-cover" />
          <figcaption>
            <h2>Portfolio Item</h2>
            <p>Dis-moi ce que tu manges, je te dirai ce que tu es</p>
            <a href="portfolio-item.html">View more</a>
          </figcaption>
        </figure>
        <figure class="animateOnScroll" data-animation="fadeIn">
          <img src="assets/3.jpg" alt="" class="image-cover" />
          <figcaption>
            <h2>Portfolio Item</h2>
            <p>Dis-moi ce que tu manges, je te dirai ce que tu es</p>
            <a href="portfolio-item.html">View more</a>
          </figcaption>
        </figure>
        <figure class="animateOnScroll" data-animation="fadeIn">
          <img src="assets/4.jpg" alt="" class="image-cover" />
          <figcaption>
            <h2>Portfolio Item</h2>
            <p>Dis-moi ce que tu manges, je te dirai ce que tu es</p>
            <a href="portfolio-item.html">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>

  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 section-content text-center animateOnScroll" data-animation="fadeInUp">
          <h5>Location</h5>
          <address>
              <span>653 Valley Avenue</span><br />
              <span>94566 </span> <br>
              <span><strong>Pleasanton, CA </strong></span>
            </address>
          <p><strong>Hours</strong>
            <br />M–Th 11–23
            <br />F-Su 9–24</p>
          <p>&nbsp;</p>
          <p>
            <a href="#"><i class="fa fa-facebook social-icon" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter social-icon" aria-hidden="true"></i></a>
            <a href="https://www.yelp.com/biz/garage-door-pros-pleasanton"><i class="fa fa-yelp social-icon" aria-hidden="true"></i></a>
          </p>
        </div>
        <div class="col-sm-12 col-md-6 section-content">
          <img src="assets/map.png" class="img-responsive" alt="">
        </div>
      </div>

    </div>
  </section>

  <script>
  var swiper = new Swiper('.swiper-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true,
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    parallax: true,
    speed: 600,`
    autoplay: 2500,
    onSlideChangeStart: (function (swiper) {
      var active = swiper.slides[swiper.activeIndex];
      var animated = $(active).find('*[data-animation]');
      $.each(animated, function (key, value) {
        $(value).addClass($(value).data('animation'));
        $(value).addClass('animated');
      });
    })
  });

  </script>
</body>

</html>


