    <div class="row">
      <div class="col-md-12 col-lg-10 col-lg-offset-1 page-indent">
        <article class="content">
          <h1>Recent Yelp Reviews</h1>
          <section class="about">

            <div class="row member animateOnScroll" data-animation="fadeInRight">
              <div class="col-sm-4 col-md-3 text-center">
                <img src="https://s3-us-west-2.amazonaws.com/garagedoorprosca/yelp1.jpg" alt="">
              </div>
              <div class="col-sm-8 col-md-9">
                <div class="name">Brian M.</div>
                <div class="bio">
                  <p>Bar is quick, efficient, and hella funny!!  When he was here replacing two springs, I swear it felt like good friends hanging out and trading stories.  I could tell Bar was passionate about his work and customer service.  I would definitely recommend to others.</p>
                </div>
              </div>
            </div>
            <div class="row member animateOnScroll" data-animation="fadeInLeft">
              <div class="col-xs-12 col-sm-4 col-md-3 pull-right">
                <img src="https://s3-us-west-2.amazonaws.com/garagedoorprosca/yelp2.jpg" alt="">
              </div>
              <div class="col-xs-12 col-sm-8 col-md-9 right">
                <div class="name">Jan k.</div>
                
                <div class="bio">
                  <p>This review is long overdue, but well deserved.  Bar is professional, friendly, fast, and reasonable.  When our garage door broke, Bar responded to my call quickly and was at our house the next day!  He was very thorough in explaining the problem and gave us options to either fix the broken part, or just replace the entire unit.  We decided to replace the entire unit and he gave us a discount!  What a great guy!  Super reliable and reasonably priced.  Definitely recommend.  Thanks Bar!</p>
                </div>
              </div>
            </div>
            <div class="row member animateOnScroll" data-animation="fadeInRight">
              <div class="col-sm-4 col-md-3 text-center">
                <img src="https://s3-us-west-2.amazonaws.com/garagedoorprosca/yelp3.jpg" alt="">
              </div>
              <div class="col-sm-8 col-md-9">
                <div class="name">Curtis D.</div>
                <div class="bio">
                  <p>Can I give this guy more stars? Bar is amazing. I was in the middle of a DIY project installing a new opener when I discovered the real problem was a bad spring. I had called another company the day before with less than stellar results. I called Bar at 6pm thinking I'd have to wait until next week. Nope he was here by 7 and fixed my spring and got me started with my DIY project. If you're thinking of calling ANYONE else, think again. Fantastic service and an even better person!</p>
                </div>
              </div>
            </div>
            <div class="row member animateOnScroll" data-animation="fadeInLeft">
              <div class="col-xs-12 col-sm-4 col-md-3 pull-right">
                <img src="https://s3-us-west-2.amazonaws.com/garagedoorprosca/yelp4.jpg" alt="">
              </div>
              <div class="col-xs-12 col-sm-8 col-md-9 right">
                <div class="name">Sandi R.</div>
                <div class="bio">
                  <p>Bar is amazing!!! I backed my car into the garage putting a set in it and taking one of the panels off track. I panicked thinking how will I get anyone to come on the same day to fix it. I called Bar after reading all the reviews, he assured me he would fix in a few hours. After 1.5hours he showed up examed the damage and fixed it 30mins. Reasonable cost and kept everything neat. He is very professional and knowledge. Highly recommend him for any garage repair. </p>
                </div>
              </div>
            </div>
          </section>
        </article>

      </div>
    </div>
  </div>



      <div class="row">
      <div class="col-md-12 col-lg-10 col-lg-offset-1 page-indent">
        <article class="content">
          <h1>Recent Yelp Reviews</h1>
          <section class="about">

            <div class="row member animateOnScroll" data-animation="fadeInRight">
              <div class="col-sm-4 col-md-3 text-center">
                <img src="https://s3-us-west-2.amazonaws.com/garagedoorprosca/yelp1.jpg" alt="">
              </div>
              <div class="col-sm-8 col-md-9">
                <div class="name">Brian M.</div>
                <div class="bio">
                  <p>Bar is quick, efficient, and hella funny!!  When he was here replacing two springs, I swear it felt like good friends hanging out and trading stories.  I could tell Bar was passionate about his work and customer service.  I would definitely recommend to others.</p>
                </div>
              </div>
            </div>
            <div class="row member animateOnScroll" data-animation="fadeInLeft">
              <div class="col-xs-12 col-sm-4 col-md-3 pull-right">
                <img src="https://s3-us-west-2.amazonaws.com/garagedoorprosca/yelp2.jpg" alt="">
              </div>
              <div class="col-xs-12 col-sm-8 col-md-9 right">
                <div class="name">Jan k.</div>
                
                <div class="bio">
                  <p>This review is long overdue, but well deserved.  Bar is professional, friendly, fast, and reasonable.  When our garage door broke, Bar responded to my call quickly and was at our house the next day!  He was very thorough in explaining the problem and gave us options to either fix the broken part, or just replace the entire unit.  We decided to replace the entire unit and he gave us a discount!  What a great guy!  Super reliable and reasonably priced.  Definitely recommend.  Thanks Bar!</p>
                </div>
              </div>
            </div>
            <div class="row member animateOnScroll" data-animation="fadeInRight">
              <div class="col-sm-4 col-md-3 text-center">
                <img src="https://s3-us-west-2.amazonaws.com/garagedoorprosca/yelp3.jpg" alt="">
              </div>
              <div class="col-sm-8 col-md-9">
                <div class="name">Curtis D.</div>
                <div class="bio">
                  <p>Can I give this guy more stars? Bar is amazing. I was in the middle of a DIY project installing a new opener when I discovered the real problem was a bad spring. I had called another company the day before with less than stellar results. I called Bar at 6pm thinking I'd have to wait until next week. Nope he was here by 7 and fixed my spring and got me started with my DIY project. If you're thinking of calling ANYONE else, think again. Fantastic service and an even better person!</p>
                </div>
              </div>
            </div>
            <div class="row member animateOnScroll" data-animation="fadeInLeft">
              <div class="col-xs-12 col-sm-4 col-md-3 pull-right">
                <img src="https://s3-us-west-2.amazonaws.com/garagedoorprosca/yelp4.jpg" alt="">
              </div>
              <div class="col-xs-12 col-sm-8 col-md-9 right">
                <div class="name">Sandi R.</div>
                <div class="bio">
                  <p>Bar is amazing!!! I backed my car into the garage putting a set in it and taking one of the panels off track. I panicked thinking how will I get anyone to come on the same day to fix it. I called Bar after reading all the reviews, he assured me he would fix in a few hours. After 1.5hours he showed up examed the damage and fixed it 30mins. Reasonable cost and kept everything neat. He is very professional and knowledge. Highly recommend him for any garage repair. </p>
                </div>
              </div>
            </div>
          </section>
        </article>

      </div>
    </div>
  </div>