.logo {
  height: 80px !important;
  width: 350px !important;
}

.image-cover {
  height: 200px;
  width:  200px;
}


.bg-pattern {
/*  background-image: url(../assets/pattern.png);*/
  background-color:  #1797B2;
}

.btn-custom {
 background-color:  #1797B2;
}

.about {
  color: #1797B2;
  font-size: 18px;
}
