  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="row-xs-12">
          <div class="divider"></div>
          <div class="text-center">
            <%= image_tag 'Logo.jpg', class: "logo" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <ul class="footer-links">
            <li><a href="#">Privacy Policy</a>
            </li>
            <li><a href="blog-index.html">Blog</a>
            </li>
            <li><a href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-3">
          <p>© GarageDoorProsCa <%= time.now.year %></p>
        </div>
      </div>
    </div>
 </footer>